.home {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 2em;
}

.home-title {
    flex: 1 0 30%;
    align-self: center;
    color: papayawhip;
    opacity: 0.7;
}

.home-title .last-name {
    text-align: center;
}

.home-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 auto;
    font-family: $font-quicksand;
    text-transform: uppercase;
    opacity: 0.8;
    color: $color-brown;

    .home-subtitle-b {
        align-self: flex-end;
    }

}
